
<div  class="body">
  <div class="row ms-2 mt-2">
      <div class="col-2">
          <button routerLink="/kanban" mat-raised-button color="accent"> <mat-icon>keyboard_arrow_left</mat-icon> Back</button>
      </div>
  </div>

  <div class="row">
      <div class="col">
          <div class="container d-flex justify-content-center mb-3">
              <h3>Ticket Details</h3>
          </div>
      </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="container d-flex align-items-center" style="margin-left: 105px;">
        <!-- Search Field -->
        <mat-form-field appearance="outline" style="width: 200px; margin-right: 15px;">
          <mat-label>Search</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter()" type="text">
          <button matSuffix *ngIf="searchKey" (click)="onSearchClear()" mat-icon-button aria-label="Clear">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

       


      </div>
    </div>
  </div>

  <div class="row">
      <div class="col d-flex justify-content-center">
          <div>
              <table mat-table [width]="1500" matSort [dataSource]="dataSource" class="mat-elevation-z8">

                  <ng-container matColumnDef="srno">
                    <th style="text-align: start; width: 50px;" mat-header-cell *matHeaderCellDef> Sr No. </th>
                    <td style="text-align: start;" mat-cell *matCellDef="let element; index as i"> {{i+1}} </td>
                  </ng-container>

                  <ng-container matColumnDef="ticektno">
                    <th mat-sort-header style="text-align: start; width: 100px;" mat-header-cell *matHeaderCellDef> Ticket No. </th>
                    <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.ticketId}} </td>
                  </ng-container>
                  <ng-container matColumnDef="sprintId">
                    <th mat-sort-header style="text-align: start; width: 100px;" mat-header-cell *matHeaderCellDef> SprintId </th>
                    <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.sprintId}} </td>
                  </ng-container>
                  <ng-container matColumnDef="projectId">
                    <th mat-sort-header style="text-align: start; width: 100px;" mat-header-cell *matHeaderCellDef> ProjectId </th>
                    <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.projectId}} </td>
                  </ng-container>

                  <ng-container matColumnDef="title">
                    <th mat-sort-header style="text-align: start;" mat-header-cell *matHeaderCellDef> Title </th>
                    <td style="text-align: start;" mat-cell *matCellDef="let element"> {{element.title}} </td>
                  </ng-container>

                  <ng-container matColumnDef="description">
                    <th mat-sort-header style="text-align: start;" mat-header-cell *matHeaderCellDef> Description </th>
                    <td style="text-align: start; width: 220px;" mat-cell *matCellDef="let element"> {{element.description}} </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-sort-header style="text-align: start;" mat-header-cell *matHeaderCellDef> Ticket Owner Name </th>
                    <td style="text-align: start;" mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="creationDate">
                    <th mat-sort-header style="text-align: start;" mat-header-cell *matHeaderCellDef> Creation Date </th>
                    <td style="text-align: start;" mat-cell *matCellDef="let element"> {{element.creationDate | date}} </td>
                  </ng-container>

                  <ng-container matColumnDef="ModifiedDate">
                    <th mat-sort-header style="text-align: start;" mat-header-cell *matHeaderCellDef> Modified Date </th>
                    <td style="text-align: start;" mat-cell *matCellDef="let element"> {{element.modifiedDate | date}} </td>
                  </ng-container>

                  <ng-container matColumnDef="closingDate">
                    <th mat-sort-header style="text-align: start;" mat-header-cell *matHeaderCellDef> Closing Date </th>
                    <td style="text-align: start;" mat-cell *matCellDef="let element"> {{element.closingDate | date}} </td>
                  </ng-container>

                  <ng-container matColumnDef="priority">
                    <th mat-sort-header style="text-align: start;" mat-header-cell *matHeaderCellDef> Priority </th>
                    <td style="text-align: start;" mat-cell *matCellDef="let element"> {{element.priority}} </td>
                  </ng-container>

                  <ng-container matColumnDef="tickethours">
                    <th mat-sort-header style="text-align: start;" mat-header-cell *matHeaderCellDef> Tickethours</th>
                    <td style="text-align: start;" mat-cell *matCellDef="let element"> {{element.tickethours}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Status">
                    <th mat-sort-header style="text-align: start; width: 100px;" mat-header-cell *matHeaderCellDef> Status </th>
                    <td style="text-align: center;" mat-cell *matCellDef="let element">
                      <!-- Display the current status text, which is clickable -->
                      <span *ngIf="!element.isEditingStatus" (click)="toggleStatusEdit(element)">
                        {{ element.status }} <!-- Current status display -->
                      </span>

                      <!-- Dropdown shown when editing status -->
                      <select *ngIf="element.isEditingStatus" matNativeControl (change)="onStatusChange($event, element)" [value]="element.status" style="margin-top: 5px;">
                        <option value="Open">Open</option>
                        <option value="Closed">Closed</option>
                        <option value="Dependency">Dependency</option>
                        <option value="Progress">Progress</option>
                      </select>
                    </td>
                  </ng-container>



                <!-- Action Column -->
                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: start;"> Action </th>
                  <td mat-cell *matCellDef="let element" style="text-align: start;">
                    <button mat-button color="accent"  (click)="viewComment(element._id)">View Comments</button>
                    <button mat-button (click)="openEditModal(element)">Edit</button>
                  </td>
              </ng-container>



                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
          </div>
      </div>
  </div>

</div>
<ng-template #commentTemplate>

  <mat-dialog-content>


    <div class="comment-section">
      <h3>Comments</h3>
      <div *ngFor="let comment of comments" class="comment">
        <p><strong>{{ comment.author }}</strong> ({{ comment.creationDate | date: 'short' }})</p>
        <p>{{ comment.text }}</p>

        <!-- Replies Section -->
        <div *ngFor="let reply of comment.replies" class="reply">
          <p><strong>{{ reply.author }}</strong> ({{ reply.creationDate | date: 'short' }})</p>
          <p>{{ reply.text }}</p>
        </div>

        <!-- Reply Input -->
        <input *ngIf="showCommentInputreply" [(ngModel)]="replyText[comment._id]" placeholder="Write a reply..." class="reply-input" />
        <!-- <button (click)="addReply(comment._id)" class="reply-button">Reply</button> -->
        <mat-icon  (click)="addReply(comment._id)"  class="reply-button">reply</mat-icon>
      </div>

      <!-- New Comment Section -->
      <textarea *ngIf="showCommentInput" [(ngModel)]="newCommentText" placeholder="Write a comment..." class="comment-input"></textarea>
      <mat-icon (click)="addComment()" class="comment-button">add_comment</mat-icon>
      <!-- <button  >Add Comment</button> -->
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Close</button>
  </mat-dialog-actions>
</ng-template>



<ng-template #editModal let-data="data">
  <div class="modal-header">
    <h2>Edit Event</h2>
  </div>

  <form (ngSubmit)="onSaveChanges()">
    <mat-form-field class="form-field">
      <mat-label>Sprint ID</mat-label>
      <mat-select [(value)]="selectedEvent.sprintId" (selectionChange)="onSprintIdChange()">
        <mat-option *ngFor="let sprint of sprints" [value]="sprint.sprintId">
          {{ sprint.sprintId }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Display selected sprint details below the dropdown -->

    <mat-form-field class="form-field">
      <mat-label>Ticket owner Name</mat-label>
      <input matInput [(ngModel)]="selectedEvent.projectOwner" name="ticketownername">
    </mat-form-field>



    <mat-form-field class="form-field">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="selectedEvent.title" name="title">
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="selectedEvent.description" name="description"></textarea>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Ticket Hours</mat-label>
      <textarea matInput [(ngModel)]="selectedEvent.tickethours" name="ticketHours"></textarea>
    </mat-form-field>



    <!-- Add other fields here -->

    <div class="actions">
      <button mat-button type="submit" (click)="onSaveChanges()" class="save-btn">Save Changes</button>
      <button mat-button type="button" (click)=" closeDialog1()" class="cancel-btn">Cancel</button>
    </div>
  </form>
</ng-template>

